* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li,
a {
  text-decoration: none;
}
body {
  background-color: #f8f4ef;
  width: 1920px
}
@font-face {
  font-family: "Montserrat";
  src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot");
  src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.svg#Montserrat")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Magilio";
  src: url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.eot");
  src: url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6ab22bdce5f735579eceb300fe570dad.svg#Magilio")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP-Hatton";
  src: url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.eot");
  src: url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/3147420f5573b22000d1e233cae7cdc9.svg#PP Hatton")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
