 .ButtonUp-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  
} 

.button-up {
  transition: fill 0.3s ease;
  z-index: 1;
  fill:#F8F5EF;
}


.button-up:hover {
  fill: #e52421;
}


