.Home-container {
  margin-top: 121px;
  position: relative;
}
.HomePF-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
}
.RedCircle-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 513px;
}
h1 {
  font-family: "PP-Hatton";
  font-size: 150px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.red-circle {
  width: 71px;
  height: 71px;
  align-self: center;
}
.year {
  font-family: "Magilio";
  font-size: 600px;
  font-weight: 400;
  color: #e52421;
  position: relative;
}
.Home-FV {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 700;
  align-self: self-end;
  margin-right: 300px;
  margin-top: 20px;
}
/*mobile*/
/* @media screen and (max-width: 576px) {
  .Home-container {
    width: 5%;
  }
  .PF-container h1 {
    font-size: 1.5em;
  }
  .red-circle {
    width: 10%;
  }
  .Home-FV {
    font-size: 1em;
  }
} */
/*Tablet*/
/* @media screen and (min-width: 576px) and (max-width: 768px) {
  .Home-container {
    width: 3.17%;
  }
  .PF-container h1 {
    font-size: 2em;
  }
  .red-circle {
    width: 7%;
  }
  .Home-FV {
    font-size: 1em;
  }
} */
/*PC escritorio*/
/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  .Home-container {
    width: 11.98%;
  }
  .PF-container h1 {
    font-size: 2em;
  }
  .red-circle {
    width: 5%;
  }
  .Home-FV {
    font-size: 1.5em;
  }
} */
/*PC Grande*/
/* @media screen and (min-width: 1024px) { */
/* .Home-container {
    width: 7.35%;
  } */
/*   .PF-container h1 {
    font-size: 2.5em;
  }
  .red-circle {
    width: 100%;
  }
  .Home-FV {
    font-size: 1.5em;
  }
} */
